[run]
branch = True
source = basketball_reference_web_scraper

[report]
exclude_lines =
    if self.debug:
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
omit =
    tests/*
