.idea/
*.pyc
.pypirc
build/
dist/
*egg-info/

# Don't commit files from integration test output
tests/integration/output/**.csv
tests/integration/output/**.json
!tests/integration/output/.gitkeep
/basketball_reference_web_scraper/.vs/basketball_reference_web_scraper/v16/.suo
/basketball_reference_web_scraper/.vs/ProjectSettings.json
/basketball_reference_web_scraper/.vs/slnx.sqlite
