.idea/
*.pyc
.pypirc
build/
dist/
*egg-info/
get-poetry.py
# Don't commit files from integration test output
tests/integration/output/**.csv
tests/integration/output/**.json
!tests/integration/output/.gitkeep
# Ignore generated code coverage files
.coverage

dependencies/*

.vscode/
