.idea/
*.pyc
.pypirc
build/
dist/
*egg-info/

# Don't commit files from integration test output
tests/integration/output/**.csv
tests/integration/output/**.json
!tests/integration/output/.gitkeep

dependencies/*
