language: python
os:
  - linux
  - osx
  - windows
python:
  - "3.4"
  - "3.5"
  - "3.5-dev"
  - "3.6"
  - "3.6-dev"
  - "3.7-dev"
before_install:
  - pip install codecov
install:
  - pip install -r requirements.txt
script:
  - coverage run -m unittest discover
after_success:
  - codecov
